* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Header */
section {
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #34495e;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #ecf0f1;
}

.under-header {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.under-header a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.under-header a:hover {
    color: #3498db;
}

.gameName {
    background: linear-gradient(to right, #30CFD0 0%, #8b3fe8 100%);
    background-clip: text;
    color: transparent;

}

div.card {
    width: 50px;
    height: 60px;
}

.game-container {
    margin-top: 1rem;
    width: fit-content;
    max-width: 640px;
    height: fit-content;
    max-height: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid #34495e;
    perspective: 1000px;
    background-color: #16398aa7;
    border-radius: 10px;
    overflow: hidden;
}

/* Timer for memory game */
.memory-timer {
    border: 1px solid #000;
    background-color: #556a97;
    width: 30%;
    min-height: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-timer {
    margin-bottom: 5px;
}

.memory-timer>h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: small;
}

.memory-timer>h2:hover {
    color: #2d30e4;
    cursor: pointer;
}

.buttons-container {

    visibility: hidden;
}

.matches-box {
    text-align: center;
    font-weight: bold;
    width: 30%;
    min-height: 50px;
    border: 1px solid black;
    background-color: #556a97;
}


.card {
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    background-color: #3460b3;
    transform-style: preserve-3d;
    transition: all .2s;
    box-shadow: 0 4px 8px black;
    cursor: pointer;
}

.card:hover {
    transform: rotate(3deg) scale(1.05);
    transition: transform 0.25s ease-in-out;
}

.card.flip {
    transform: rotateY(180deg);
    transition: transform 0.50s ease-in-out;
}

.card:active {
    transform: scale(.95);
    transition: all .2s;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.navbar {
    background-color: #34495e;
    padding: 1em 0;
    text-align: center;
}

footer {
    background-color: #34495e;
    text-align: center;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.code a {
    color: #000;
    text-decoration: none;
}

/* Add this to your existing style.css */

/* Result Panel */
.result-panel {
    height: 250px;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 121, 241);
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    z-index: 10;
    box-shadow: 0px 0px 10px rgb(64, 32, 243);
}

/* .hidden {
    display: none;
} */

#playAgainButton {
    margin-top: 60px;
    padding: 10px 20px;
    background-color: #033b77;
    color: white;
    border: none ;
    cursor: pointer;

}

#playAgainButton:hover {
    background-color: #12569e;
}

/* Media queries */
/* Media query: tablets and larger (max width 320px) */

@media screen and (min-width: 320px) {

    section {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 568px) {

    section {
        padding-bottom: 10px;
    }

    div.card {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 762px) {
    div.card {
        width: 85px;
        height: 85px;
    }

    section {
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) {
    section {
        padding-bottom: 70px;
    }

    div.card {
        width: 110px;
        height: 110px;
    }

}